<div class="row justify-content-center">
  <div class="col-12 col-md-8">

    <form action="/cyclists/list" method="get">
      <div class="input-group mb-3">
        <span class="input-group-text"><i class="fa fa-search"></i></span>
        <input type="text" name="search" value="{{ search }}" class="form-control" placeholder="Search by cyclists name..">
        <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search"></i></button>
      </div>
    </form>

    <div class="list-group">
      {{#each cyclists as |cyclist|}}
        <div class="list-group-item mb-2">
          <div class="d-flex flex-column">
            <a href="/cyclists/{{ cyclist.id }}" class="stretched-link"><h6>{{ cyclist.name }}</h6></a>
            <div class="d-flex text-secondary">
              <small><i class="fa fa-steam me-1"></i>{{ cyclist.team }}</small>
              <small><i class="fa fa-bicycle mx-1"></i>{{ cyclist.bike }}</small>
              <small><i class="fa fa-trophy mx-1"></i>{{ cyclist.victories }}</small>
              
            </div>
          </div>
        </div>
      {{/each}}
    </div>

  </div>
</div>